<div class="row">
  <!-- 動態排版 -->
  <div class="col-sm-6">
    <!-- float的用意在於空間不夠時才換行, display: inline-block也是 -->
    <div class="card mb-3" style="display: inline-block;max-width: 500px;margin-top: 10px;">
      <div class="card-header text-white bg-secondary" style="min-width: 130px;">
        <mat-icon>list</mat-icon>
        <span style="position: absolute; margin-top: -2px;margin-left: 5px; ">Project List</span></div>
      <div class="card-body">
        <div>
          <!-- angular for loop -->
          <p *ngFor="let project of project_list" style="margin-bottom: 0px;">
            <mat-icon style="margin-right: 13px;">folder</mat-icon>
            <span style="position: relative; top: -5px;">{{project.pName}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- pass data to child component -->
  <div style="max-width: 400px;">
    <app-project-detail [passDetail]="project_list"></app-project-detail>
  </div>
</div>
