<!-- using bootstrap classes -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Labeler.ai</a>
  <!-- @ref: https://ng-bootstrap.github.io/#/components/collapse/examples -->
  <!-- @ref: https://medium.com/@tiboprea/build-a-responsive-bootstrap-4-navbar-in-angular-5-without-jquery-c59ad35b007 -->
  <!-- aria-controls 指定控制的id -->
  <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = onClick(isCollapsed)"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbarCollapse" aria-label="Toggle navigation"
          style="margin-top: -16px;">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="container">
    <!-- nav-bar will collapse at screen size large -->
    <div class="collapse navbar-collapse" id="navbarCollapse" [ngClass]="{ 'show': isCollapsed }"
         style="background-color: #18BC9C;margin-top: -15px;">
      <ul class="navbar-nav mr-auto">
        <!-- class add 'active' by routerLink -->
        <li class="nav-item" [routerLinkActive]="['active']" [routerLink]="['projects']">
          <a class="nav-link" href="projects" style="font-size: 18px !important;margin-left: 20px;">
            Projects
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLink]="['models']">
          <a class="nav-link" href="models" style="font-size: 18px !important;margin-left: 20px;">
            Models
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- 放置除了nav-bar外的其他component -->
<div class="container">

  <!-- 1. add component regardless routes -->
  <!--<app-project-list></app-project-list>-->
  <!--<app-model-list></app-model-list>-->

  <!--<button mat-raised-button color="primary">Hello World！</button>-->

  <!-- 就是<i class="fa fa-thumbs-up">的概念 -->
  <!--<mat-icon fontSet="fontawesome" fontIcon="fa-thumbs-up"></mat-icon>-->

  <!-- 2. setting for components to show base on routes -->
  <!-- Let you link to specific routes, 都沒也能work -->
  <div routerLink="projects"></div>
  <div routerLink="models"></div>
  <div routerLink="Login"></div>
  <!-- Acts as a placeholder that Angular dynamically fills based on the current router state.-->
  <router-outlet></router-outlet>
  <!--<router-outlet name="detail"></router-outlet>-->

</div>

