@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* 增加立體感 */
.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
  margin-bottom: 20px;
  border-radius: 5px;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark .navbar-brand {
  font-size: 25px !important;
}

/* 避免在特定螢幕縮放尺寸下，navbar-collapse會跑版 */
@media screen and (max-width: 990px) {
  .navbar.navbar-expand-lg.navbar-dark.bg-dark .navbar-brand {
    margin-top: -16px;
  }
}
