@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* 增加立體感 */
.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
  margin-bottom: 20px;
  border-radius: 5px;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark .navbar-brand {
  font-size: 25px !important;
  margin-top: -16px;
}
