<!-- using bootstrap classes -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 20px;border-radius: 5px;">
  <a class="navbar-brand" href="#" style="font-size: 25px !important;">
    Labeler.ai
  </a>
  <!-- add collapse button, but currently not functioning -->
  <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- nav bar will collapse at screen size large -->
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <!-- class add 'active' by routerLink -->
      <li class="nav-item" [routerLinkActive]="['active']" [routerLink]="['projects']">
        <a class="nav-link" href="projects" style="font-size: 18px !important;">
          Projects
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLink]="['models']">
        <a class="nav-link" href="models" style="font-size: 18px !important;">
          Models
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">

  <!-- add component regardless routes -->
  <!--<app-project-list></app-project-list>-->
  <!--<app-model-list></app-model-list>-->

  <!--<button mat-raised-button color="primary" (click)="onClick($event)">Hello World！</button>-->

  <!-- 就是<i class="fa fa-thumbs-up">的概念 -->
  <!--<mat-icon fontSet="fontawesome" fontIcon="fa-thumbs-up"></mat-icon>-->

  <!-- setting for components to show base on routes -->
  <!-- Lets you link to specific routes, 沒有前面兩個div也能work, 但是版面排序會和有的時候不同 -->
  <div routerLink="projects"></div>
  <div routerLink="models"></div>
  <div routerLink="Login"></div>
  <!-- Acts as a placeholder that Angular dynamically fills based on the current router state.-->
  <router-outlet></router-outlet>
  <!--<router-outlet name="detail"></router-outlet>-->

</div>

