<div class="card mb-3" style="float: left;max-width: 500px;margin-top: 10px;">
  <div class="card-header text-white bg-info">
    <mat-icon>list</mat-icon>
    <span style="position: absolute; margin-top: -2px;margin-left: 5px; ">Model List</span>
  </div>
  <div class="card-body">
    <div>
      <!-- 會產生多個包含span的p -->
      <div *ngFor="let model of model_names; index as i" style="margin-bottom: 0px;">
        <mat-icon>pie_chart</mat-icon>
        <span style="position: relative; top: -5px;"> {{i}}</span> &emsp;
        <span style="position: relative; top: -6px;"> {{model.name}}</span>
      </div>
    </div>
  </div>
</div>

<!-- @remove: 放在這僅測試用，正式版會放在project-list -->
<app-model-config></app-model-config>
